<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password</title>
    <link href="{{ asset('static/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('static/admin.css') }}" rel="stylesheet">
    <link href="/fonts.css" rel="stylesheet">
    {{ head_html | safe }}
</head>
<body>
    <div class="container">
        <div id="login-section">
            <div class="admin-section" style="max-width: 400px; margin: 0 auto;">
                <form action="{{ verify_action or ('/share/' + share_id + '/verify') }}" method="post" class="login-form">
                    <label for="password"><h2>Enter Password for {{ video_name }}</h2></label>
                    <input type="password" name="password" id="password" placeholder="" required>
                    <input type="hidden" name="next" value="{{ next_url }}">
                    <button type="submit">Submit</button>
                </form>
                {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html> 